<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Latest News</title>
    <style>
      table{
          border-collapse: collapse;
          border-spacing: 0;
      }
      th, td{
          padding: 10px 20px;
          border: 1px solid #000;
      }
      </style>
</head> 
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.indiatvnews.com/politics">Politics News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Latest News live channel</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.ndtv.com/">NDTV</a>
                <a class="dropdown-item" href="https://www.aajtak.in/">AAJ TAK</a>
                <a class="dropdown-item" href="https://news24online.com/">NEWS 24</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://economictimes.indiatimes.com/news/politics">Politics Latest News</a>
              </div>
            </li>
          </ul>
          <form action="" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search Country" name="country">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">Search Country</button>
          </form>
        </div>
      </nav>

      <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                {% for i in articles %}

                    <div class="card rounded shadow-lg m-2" style="width: 25rem;">
                        <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">{{ i.author }}</p>
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-title">{{ i.source.name }}</p>
                        <p class="card-text">{{ i.description }}</p>
                        <hr>
                        <small>date: {{ i.publishedAt }}</small>
                        <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
                    </div>

                  {% endfor %}
            </div>

            <div class="col-md-4">
                <h3><b>Category</b></h3>
                <hr>
                <br>
                <ul class="list-group">
                    <li class="list-group-item"><a class="btn btn-primary" href="{% url 'home' %}?category=technology">Technology</a></li>
                    <li class="list-group-item"><a class="btn btn-success" href="{% url 'home' %}?category=health">Health</a></li>
                    <li class="list-group-item"><a class="btn btn-danger" href="{% url 'home' %}?category=Entertainment">Entertainment</a></li>
                    <li class="list-group-item"><a class="btn btn-secondary" href="{% url 'home' %}?category=Sports">Sports</a></li>
                    <li class="list-group-item"><a class="btn btn-primary" href="{% url 'home' %}?category=Science">Science</a></li>
                    <li class="list-group-item"><a class="btn btn-info" href="{% url 'home' %}?category=Business">Business</a></li>
                </ul>
            </div>

        </div>
    </div>
  </body>
</html>